/* General styles for the Inicio component */
.inicio-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Apila los elementos verticalmente */
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, black, transparent), url('./src/assets/NAVINICIO.png');
  background-size: cover;
  background-position: center;
}

/* Título */
.titulo {
  color: orange; /* Color destacado para el título */
  font-size: 3em; /* Reducido el tamaño de la fuente */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; /* Reducido el espaciado de las letras */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  font-weight: normal; /* Estilo de fuente estándar */
  z-index: 100;
  position: absolute;
  top: 10%; /* Ajusta la posición del título */
  left: 5%;
  transform: translate(-10%, -50%);
}

/* Subtítulo 1 */
.subtitulo1 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  font-weight: normal; /* Estilo de fuente estándar */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 15%; /* Ajusta la posición del subtítulo */
  left: 13%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Texto 1 */
.texto1 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 22%; /* Ajusta la posición del subtítulo */
  left: 14%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Subtítulo 2 */
.subtitulo2 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 30%; /* Ajusta la posición del subtítulo */
  left: 13%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Texto 2 */
.texto2 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 38%; /* Ajusta la posición del subtítulo */
  left: 14%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Subtítulo 3 */
.subtitulo3 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 45%; /* Ajusta la posición del subtítulo */
  left: 13%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Texto 3 */
.texto3 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 52%; /* Ajusta la posición del subtítulo */
  left: 14%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Subtítulo 4 */
.subtitulo4 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 60%; /* Ajusta la posición del subtítulo */
  left: 13%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Texto 4 */
.texto4 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 67%; /* Ajusta la posición del subtítulo */
  left: 14%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Subtítulo 5 */
.subtitulo5 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 75%; /* Ajusta la posición del subtítulo */
  left: 13%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}

/* Texto 5 */
.texto5 {
  color: #FFEBD6; /* Color dorado para el subtítulo */
  font-size: 1.1em; /* Reducido el tamaño */
  font-weight: normal; /* Estilo de fuente estándar */
  font-family: 'Chewy', sans-serif; /* Fuente Chewy */
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.4; /* Reducido el espaciado entre líneas */
  width: 60%; /* Limita el ancho del texto */
  position: absolute;
  top: 82%; /* Ajusta la posición del subtítulo */
  left: 14%; /* Ajusta el desplazamiento horizontal */
  transform: translate(-10%, -50%);
}
